<div>
    <h2>Prontuário</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="controle-atendimento.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span class="hidden-xs-down">
                        Criar novo Prontuário
                    </span>
                </button>
            </div>
            <div class="col-xs-8 no-padding-right">
                <form name="searchForm" class="form-inline">
                    <div class="input-group pull-right" >
                        <input type="text" class="form-control" ng-model="vm.searchQuery" id="searchQuery" placeholder="{{ 'unpsipApp.controleAtendimento.home.search' | translate }}">
                        <span  class="input-group-btn width-min" >
                            <button class="btn btn-info" ng-click="vm.search(vm.searchQuery)">
                                <span class="glyphicon glyphicon-search"></span>
                            </button>
                        </span>
                        <span class="input-group-btn width-min" ng-if="vm.currentSearch">
                            <button class="btn btn-info" ng-click="vm.clear()">
                                <span class="glyphicon glyphicon-trash"></span>
                            </button>
                        </span>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.transition()">
                    <th jh-sort-by="id"><span data-translate="global.field.id">ID</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="numero"><span data-translate="unpsipApp.controleAtendimento.numero">Numero</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="queixa"><span data-translate="unpsipApp.controleAtendimento.queixa">Queixa</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="encaminhamento"><span data-translate="unpsipApp.controleAtendimento.encaminhamento">Encaminhamento</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="vinculo"><span data-translate="unpsipApp.controleAtendimento.vinculo">Vinculo</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="dataCadastro"><span data-translate="unpsipApp.controleAtendimento.dataCadastro">Data Cadastro</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="dataAlteracao"><span data-translate="unpsipApp.controleAtendimento.dataAlteracao">Data Alteracao</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="cliente.id"><span data-translate="unpsipApp.controleAtendimento.cliente">Cliente</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="aluno.id"><span data-translate="unpsipApp.controleAtendimento.aluno">Aluno</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="controleAtendimento in vm.controleAtendimentos track by controleAtendimento.id">
                    <td><a ui-sref="controle-atendimento-detail({id:controleAtendimento.id})">{{controleAtendimento.id}}</a></td>
                    <td>{{controleAtendimento.numero}}</td>
                    <td>{{controleAtendimento.queixa}}</td>
                    <td>{{controleAtendimento.encaminhamento}}</td>
                    <td>{{controleAtendimento.vinculo}}</td>
                    <td>{{controleAtendimento.dataCadastro | date:'medium'}}</td>
                        <td>{{controleAtendimento.dataAlteracao | date:'mediumDate'}}</td>
                    <td>
                        <a ui-sref="cliente-detail({id:controleAtendimento.cliente.id})">{{controleAtendimento.cliente.id}}</a>
                    </td>
                    <td>
                        <a ui-sref="aluno-detail({id:controleAtendimento.aluno.id})">{{controleAtendimento.aluno.id}}</a>
                    </td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="controle-atendimento-detail({id:controleAtendimento.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.view"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="controle-atendimento.edit({id:controleAtendimento.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.edit"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="controle-atendimento.delete({id:controleAtendimento.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.delete"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="text-center">
        <jhi-item-count page="vm.page" total="vm.queryCount" items-per-page="vm.itemsPerPage"></jhi-item-count>
        <uib-pagination class="pagination-sm" total-items="vm.totalItems" items-per-page="vm.itemsPerPage" ng-model="vm.page" ng-change="vm.transition()"></uib-pagination>
    </div>
</div>
